VITE_API_URL=http://localhost:4000
VITE_SUPABASE_URL=https://tvhmxclyzejlhrltsedj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2aG14Y2x5emVqbGhybHRzZWRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMTM3MzEsImV4cCI6MjA5OTg4OTczMX0.Xlx7pFtE9LE2hdhOMtkA4yIyRhmPvuXRHyzJIEIoTCI
