VITE_SUPABASE_URL=https://pynapammnakrgxhslsct.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5bmFwYW1tbmFrcmd4aHNsc2N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyOTMxNDcsImV4cCI6MjA5OTg2OTE0N30.9-Tu-Ipj1uKNaRPTrcWpTKXjusUnqomMzCOAlcOjOzY
